*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 15px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7) url(../image/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 0;
}

.navigation h1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
}

.navigation ul{
    display: flex;
}

.navigation ul li{
    margin-left: 3rem;
    list-style: none;
    font-weight: 600;
    font-size: 1.1rem;
}

.navigation ul li a{
    text-decoration: none;
    color: #fff;
}

.home{
    padding: 16% 18%;
    background-color: rgb(61, 215, 226);
    border-radius: 5%;
}

.heading{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    /*background-color: aqua;*/
    text-align: center;
    margin: 0 auto;
    
}

.heading h1{
    margin-top: 6%;
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
}

.heading p{
    margin-top: 3%;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #fff;
}

.read{
    margin: 0 auto;
    margin-top: 12%;
    width: 25%;
    height: 70px;
    background-color: rgb(61, 215, 226);
    border: 0;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 3%;
}

.black{
    width: 100%;
    padding-bottom: 3rem;
    background-color: black;
}

.lectus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.three-box{
    width: 28%;
    padding-top: 4rem;
    text-align: center;
}

.three-box h1{
    margin-bottom: 2rem;
    
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
}

.three-box span{
    margin-bottom: 3rem;
    
    color: #fff;
    font-size: 4rem;
}

.three-box p{
    margin-bottom: 2rem;
    text-align-last: center;
    color: #fff;
    font-size: 1rem;
}

.three-box button{
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #fff;
    width: 35%;
    height: 45px;
    background-color: rgb(61, 215, 226);
    border: 0;
    border-radius: 3%;
}

.gray{
    width: 100%;
    background-color: rgb(15, 15, 15);
}

.two-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10%;
}

.left{
    width: 65%;
}

.left img{
    width: 100%;
    margin: 2rem 0;
}

.left h1{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
}

.left p{
    font-size: 1rem;
    line-height: 1.4rem;
    color: #dfdfdf;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.left button{
    width: 15%;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 5%;
    background-color: rgb(61, 215, 226);
    border: 0;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    color: #fff;
}

.two-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.left-1{
    width: 48%;
}

.left-1 h1{
    font-size: 2rem;
    
}

.left-1 .para{
    margin: 3rem 0 3rem 0;
    font-size: .9rem;
    line-height: 1.4rem;
    color: #dfdfdf;
}


.left-1 h3{
    font-size: 1rem;
    margin-top: 3rem;
    color: #fff;
}

.left-1 h3 a{
    text-decoration: none;
    padding: 4% 7%;
    border-radius: 5%;
    background-color: rgb(61, 215, 226);
    color: #fff;
}

.left-2{
    width: 48%;
}

.left-2 h1{
    font-size: 2rem;
    font-weight: 300;
    
}

.left-2 h3{
    margin-top: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

.left-2 h4{
    font-size: 1rem;
    color: #fff;
}

.left-2 p{
    color: #dfdfdf;
    margin-bottom: .7rem;
    font-size: 1rem;
    line-height: 1.8rem;
}


.right{
    width: 30%;
}

.right-1{
    width: 45%;
}

.two-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.right-1{
    width: 46%;
}

.right-2{
    width: 46%;
}

.heading-ipsum h1{
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
}

.two-item h1{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
}

.two-item ul{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


.two-item ul li{
    list-style: circle;
    color: #fff;
    margin: 1rem 0;
    font-size: .8rem;
}

.image-para{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-1{
    display: flex;
    width: 100%;
    height: 90px;
    /*background-color: aqua;*/
    margin: 2rem 0;
}

.img-1 img{
    width: 100%;
    border-radius: 8%;
}

.img-1 p{
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: .6rem;
    line-height: 1.4rem;
    color: #fff;
}

.img-2{
    display: flex;
    width: 100%;
    height: 90px;
    /*background-color: aqua;*/
    margin: 2rem 0;
}

.img-2 img{
    width: 100%;
    border-radius: 8%;
}

.img-2 p{
    font-size: .95rem;
    margin-left: .9rem;
    margin-top: .6rem;
    line-height: 1.7rem;
    color: #fff;
}

.img-3{
    display: flex;
    width: 100%;
    height: 90px;
    /*background-color: aqua;*/
    margin: 2rem 0;
}

.img-3 img{
    width: 100%;
    border-radius: 8%;
}

.img-3 p{
    font-size: .95rem;
    margin-left: .9rem;
    margin-top: .6rem;
    line-height: 1.7rem;
    color: #fff;
}

.img-4{
    display: flex;
    width: 100%;
    height: 90px;
   /* background-color: aqua;*/
    margin: 2rem 0;
}

.img-4 img{
    width: 100%;
    border-radius: 8%;
}

.img-4 p{
    font-size: .95rem;
    margin-left: .9rem;
    margin-top: .6rem;
    line-height: 1.7rem;
    color: #fff;
}


.image-para button{
    width: 35%;
    height: 50px;
    background-color: rgb(61, 215, 226);
    border: 0;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5%;
}

hr{
    width: 100%;
}

.footer{
    margin: 0 auto;
    padding: 5rem 0;
}

.footer p{
    color: white;
    font-size: 1rem;
}


@media only screen and (max-width:1100px){
    hr{
        display: none;
    }

    .wrapper{
        width: 100%;
    }

    .navigation  h1{
        width: 100%;
        text-align: center;
    }
    
    .navigation  h1 a{
        font-size: 2rem;
    
    }
    
    .navigation ul li{
        font-size: 1rem;
        margin: 2rem 0;
        margin-left: .4rem;
    }

    .home{
        padding: 0;
    }

    .heading{
        width: 100%;
        text-align: center;
    }

    .heading h1{
        font-size: 1.3rem;
    }

    .heading p{
        font-size: .9rem;
        
    }

    .three-box{
        width: 100%;
        
    }

    .left{
        width: 100%;
        text-align: center;
    }

    .left-1{
        width: 100%;
        text-align: center;
    }

    .left-2{
        width: 100%;
        text-align: center;
    }

    .right{
        width: 100%;
    }

    .right-1{
        width: 100%;
        text-align: center;
        margin: 3rem 0;
    }

    .right-2{
        width: 100%;
        text-align: center;
    }

    .heading-ipsum h1{
        text-align: center;
        margin: 2rem 0;
    }

    .image-para button{
        margin: auto;
        margin-top: 2rem;
    }

    .img-1 img{
        display: none;
    }

    .img-2 img{
        display: none;
    }

    .img-3 img{
        display: none;
    }

    .img-4 img{
        display: none;
    }

}